---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-validator
  namespace: sig-build
  labels:
    app: webhook-validator

spec:
  replicas: 1
  selector:
    matchLabels:
      app: webhook-validator

  template:
    metadata:
      name: webhook-validator
      namespace: sig-build
      labels:
        app: webhook-validator

    spec:
      containers:
        - name: webhook-validator
          image: gcr.io/perfinion/tensorflow-build/webhook:latest
          imagePullPolicy: IfNotPresent

          ports:
            - containerPort: 5001
              protocol: TCP

          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 5001
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1

          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 5001
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1

          resources:
            requests:
              memory: 64Mi
            limits:
              memory: 128Mi

          env:
            - name: GITHUB_SECRET
              valueFrom:
                secretKeyRef:
                  name: github-webhook-secret
                  key: webhook-secret
            - name: PORT
              value: "5001"
            - name: DEBUG_MODE
              value: "0"

---

apiVersion: v1
kind: Service
metadata:
  name: webhook-validator
  namespace: sig-build
  labels:
    app: webhook-validator

spec:
  type: ClusterIP
  ports:
  - port: 80
    protocol: TCP
    targetPort: 5001

  selector:
    app: webhook-validator

---
