/* =============================== */
/* GENERAL */
/* =============================== */
body {
  background-color: #113;
}

#tf-help-modal * {
  line-height: 1.1em;
}
#tf-help-modal .modal-body li {
  margin-bottom: 0.5em;
}
#tf-help-modal .modal-body li ul li:first-child {
  margin-top: 0.5em;
}


/* =============================== */
/* NAVBAR AND TOGGLE FEATURES */
/* =============================== */
.navbar {
  background-color: #002 !important;
}

/* Failures section starts off hidden, but appears if the body tag gets */
/* the .tf-show-buildcop class from JS. */
.tf-failures-section {
  display: none;
}
.tf-show-buildcop .tf-failures-section {
  display: block;
}

/* Cyclical auto-refresh timer */
/* Works in tandem with javascript. The 300s CSS animation aligns with the */
/* auto-refresh timer in script.js. */
@property --timer-percentage {
  initial-value: 100%;
  inherits: false;
  syntax: "<percentage>";
}

.tf-refresh-timer {
  background: conic-gradient(white var(--timer-percentage), rgba(0,0,0,0) 0);
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  animation: tf-refresh-timer 300s 1 linear forwards;
  display: inline-block;
}

@keyframes tf-refresh-timer {
  to {
    --timer-percentage: 0%;
  }
}

/* =============================== */
/* JOB CARDS */
/* Note that we're layering this config on top of bootstrap's card class */
/* =============================== */
.card h5 {
  color: #161616;
}

.card {
  /* Pretty decent configuration to fit a good number of cards on the screen
  /* at once while supporting zooming and wrapping and stuff. Could probably */
  /* be better. */
  flex-basis: 20em;
  max-width: 33em;
  /* Darkens the background color of all cards so that the dots are visible */
  background-image: linear-gradient(rgb(0 0 0/32%) 0 0);
}

/* Needed to overwrite default bootstrap badge styling for empty badges */
.card .badge:empty {
  display: inline-block;
  cursor: pointer;
  filter: brightness(100%);
  transition: filter 1s linear;
}
.card .badge:empty:hover {
  transition: filter 0s linear;
  filter: brightness(200%);
}

/* Configure the little dots */
.card .badge {
  line-height: 0;
  color: rgba(0,0,0,0.7);
}
.card .badge.tf-date {
  background-color: rgba(255, 255, 255, 0.1);
}
.card .badge.tf-public {
  background-color: rgba(255, 255, 255, 0.2);
}
.card .badge.tf-internal {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255,255,255,0.7);
}
.tf-dot-clicked {
  animation: tf-dot-clicked 30s normal forwards;
}
@keyframes tf-dot-clicked {
  10% {
    filter: brightness(300%);
    box-shadow: 0 0 40px 10px #fff6;
  }
  90% {
    filter: brightness(300%);
    box-shadow: 0 0 40px 10px #fff6;
  }
  100% {
    filter: brightness(100%);
    box-shadow: none;
  }
}

/* =============================== */
/* RECORD STATUSES */
/* Note that these apply to job cards, commit dots, and commit modals */
/* These statuses match the status enums that the github API can return. */
/* They are automatically populated as classes from the dashboard generator. */

/* See https://www.w3schools.com/cssref/css_colors.php */
/* See https://htmlcolorcodes.com/color-names/ */
/* =============================== */
.EXPECTED, .PENDING, .QUEUED, .IN_PROGRESS {
  background-color: rebeccapurple;
}
.SUCCESS {
  background-color: forestgreen;
}
/* If the body tag gets .tf-colorblind, then use different colors */
.tf-colorblind .SUCCESS {
  background-color: steelblue;
}
.CANCELLED {
  background-color: #333;
}
.NEUTRAL {
  background-color: gainsboro;
  color: #333;
}
.FAILURE {
  background-color: firebrick;
}
.TIMED_OUT {
  background-color: orange;
}
.ERROR {
  background-color: #343434;
}
.ERROR h5 {
  color: lightgray;
}


/* =============================== */
/* Commit modals */
/* =============================== */
.tf-commit-modal .tf-date {
  background-color: darkgoldenrod;
}
.tf-commit-modal .tf-cl {
  background-color: green;
}
.tf-commit-modal .tf-nocl {
  background-color: darkslategray;
}
.tf-commit-modal .tf-hash {
  background-color: darkolivegreen;
}
.tf-commit-modal .tf-diff {
  background-color: saddlebrown;
}
.tf-commit-modal .tf-nodiff {
  background-color: gray;
}
.tf-commit-modal .tf-public {
  background-color: darkslategray;
}
.tf-commit-modal .tf-internal {
  background-color: gray;
}
.tf-commit-modal .tf-selected-row {
  /* TensorFlow orange, partially transparent */
  background-color: #FF6F0099;
}
.tf-commit-modal table td {
  line-height: 0;
}
.tf-commit-modal table td:last-child {
  vertical-align: bottom;
  line-height: 1.2;
}
