body {
  background-color: #113;
}

h4 {
  color: #161616;
}

.navbar {
  background-color: #002 !important;
}

.tf-dot {
  line-height: 0;
  color: rgba(0,0,0,0.7);
}

.tf-date {
  background-color: rgba(255, 255, 255, 0.1);
}

.tf-public {
  background-color: rgba(255, 255, 255, 0.2);
}

.tf-internal {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255,255,255,0.7);
}

.tf-fulldate {
  background-color: darkgoldenrod;
}

table td {
  line-height: 0;
}

.card .badge:empty {
  display:inline-block;
  cursor: pointer;
}
.card .badge:empty:hover {
  filter: brightness(150%);
}

table td.text {
  vertical-align: bottom;
  line-height: 1.2;
}

.tf-cl {
  background-color: green;
}

.tf-nocl {
  background-color: darkslategray;
}

.favorite {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.favorited {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}

.tf-hash {
  background-color: darkolivegreen;
}

.tf-diff {
  background-color: saddlebrown;
}

.tf-nodiff {
  background-color: gray;
}

.tf-ispublic {
  background-color: darkslategray;
}

.tf-isinternal {
  background-color: gray;
}

.card {
  flex-basis: 20em;
  background-image: linear-gradient(rgb(0 0 0/30%) 0 0);
}

.CARD_PENDING {
  background-image:
    repeating-linear-gradient(
      -45deg,
      #0006,
      #0006 .5rem,
      #0004 .5rem,
      #0004 1rem
    );
  background-size: 200% 200%;
  animation: barberpole 100s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

/* See https://www.w3schools.com/cssref/css_colors.php */
/* See https://htmlcolorcodes.com/color-names/ */
.FAILURE {
  background-color: firebrick;
}
.TIMED_OUT {
  background-color: orange;
}
.ERROR {
  background-color: sienna;
}

.EXPECTED, .PENDING, .QUEUED, .IN_PROGRESS {
  animation: pending 2s linear infinite;
}

@keyframes pending {
  0% {
    background-color: lightskyblue;
  }
  50% {
    background-color: dodgerblue;
  }
  100% {
    background-color: lightskyblue;
  }
}

.SUCCESS {
  background-color: green;
}
.CANCELLED {
  background-color: #333;
}
.NEUTRAL {
  background-color: slategray;
}
