body {
  background-color: #113;
}

h5 {
  color: #161616;
}

.navbar {
  background-color: #002 !important;
}

.tf-dot {
  line-height: 0;
  color: rgba(0,0,0,0.7);
}

.tf-date {
  background-color: rgba(255, 255, 255, 0.1);
}

.tf-public {
  background-color: rgba(255, 255, 255, 0.2);
}

.tf-internal {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255,255,255,0.7);
}

.tf-fulldate {
  background-color: darkgoldenrod;
}

table td {
  line-height: 0;
}

.card .badge:empty {
  display:inline-block;
  cursor: pointer;
}
.card .badge:empty:hover {
  filter: brightness(150%);
}

table td.text {
  vertical-align: bottom;
  line-height: 1.2;
}

.tf-cl {
  background-color: green;
}

.tf-nocl {
  background-color: darkslategray;
}

.favorite {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.favorited {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}

.tf-hash {
  background-color: darkolivegreen;
}

.tf-diff {
  background-color: saddlebrown;
}

.tf-nodiff {
  background-color: gray;
}

.tf-ispublic {
  background-color: darkslategray;
}

.tf-isinternal {
  background-color: gray;
}

.card {
  flex-basis: 20em;
  max-width: 33em;
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

.CARD_PENDING {
  background-image:
    repeating-linear-gradient(
      -45deg,
      #0006,
      #0006 .5rem,
      #0004 .5rem,
      #0004 1rem
    );
  background-size: 200% 200%;
  animation: barberpole 100s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

/* See https://www.w3schools.com/cssref/css_colors.php */
/* See https://htmlcolorcodes.com/color-names/ */
.FAILURE {
  background-color: firebrick;
}
.TIMED_OUT {
  background-color: orange;
}
.ERROR {
  background-color: #303030;
}
.ERROR h5 {
  color: lightgray;
}
.failures-section {
  display: none;
}
.showfailures .failures-section {
  display: block;
}

.EXPECTED, .PENDING, .QUEUED, .IN_PROGRESS {
  animation: pending 2s linear infinite;
}

@keyframes pending {
  0% {
    background-color: lightskyblue;
  }
  50% {
    background-color: dodgerblue;
  }
  100% {
    background-color: lightskyblue;
  }
}

.SUCCESS {
  background-color: forestgreen;
}
.colorblind .SUCCESS {
  background-color: steelblue;
}
.CANCELLED {
  background-color: #333;
}
.NEUTRAL {
  background-color: slategray;
}

@property --tfpercentage {
  initial-value: 100%;
  inherits: false;
  syntax: "<percentage>";
}

.tf-mytimer {
  background: conic-gradient(white var(--tfpercentage), rgba(0,0,0,0) 0);
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  animation: mytimer 300s 1 linear forwards;
  display: inline-block;
}

@keyframes mytimer {
  to {
    --tfpercentage: 0%;
  }
}

.help-modal * {
  line-height: 1.1em;
}

.help-modal .modal-body li {
  margin-bottom: 0.5em;
}

.tf-table-highlight {
  background-color: #FF6F0099;
}
